

<div class="container">
      <% @services.each_with_index do |service, i|  %>
        <div class="card-product">
          <img src="https://jumpn-app.com/assets/our-vision.png" />
              <div class="card-product-infos">
                  <%= service.trainer.user.first_name %>
                  <%= service.description %>
                  <%= service.sport %>
                  <%= service.price %>
        </div>
  </div>
  <% end %>
</div>
