// Specific CSS for your home-page
.banner {
  // background-image: url(https://jumpn-app.com/assets/cycling.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 137.5px 0;
  height: calc(100vh - 61.88px);
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 64px;
  font-weight: bold;
  font-family: 'Inter';
  font-style: normal;
  line-height: 77px;
  background: linear-gradient(90deg, #23048C -3.6%, #E0464D 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(249, 248, 248, 0.2);
}

a {
  text-align: center;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

*, *:before, *:after{
  box-sizing: border-box;
  padding: 0; margin: 0;
  // font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

html, body{background: rgb(236, 240, 241);}

  .container1{
    margin-left: 1050px;
    max-width: 1000px;
  }

    h1{
      font-size: 2em;
      // padding: 20px 0;
    }
    p{
      font-size: .75em;
      text-transform: uppercase;
      letter-spacing: 2px;
      // padding: 20px 0;
    }

    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #ababab;
      padding: 15px 50px;
      overflow: hidden;
      color: #ededed;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
