.trainer-container {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
}

.trainer-section {
  background-color: rgb(236, 240, 241);
}

.trainer-details1 {
  h1 {
    font-size: 36px !important;

  }
  h1, p {
    text-align: left !important;
  }
}

.trainer-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }

  .trainer-card {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.services-section {
  display: flex;
  justify-content: space-between;

  .service-category {
    // flex-basis: 48%;

    h2 {
      margin-bottom: 10px;
    }

    .service-card {
      background-color: #f1f1f1;
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      img {
        max-width: 100%;
        height: 80px;
        margin-bottom: 10px;
      }

      .service-card-infos {
        p {
          margin: 0;
        }

        .btn {
          margin-top: 10px;
          background-color: #E0464D;
          color: white;
          border-radius: 5%;
        }
      }
    }
  }
}

.profile-banner {
  padding: 20px;
  border-radius: 8px;
  color: #363636;
  margin-bottom: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .btn{
      background-color: #E0464D;
      color: white;
      border-radius: 5%;

    }
}


.services-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 40px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f1f1f1;
  }
}



//MODAL

/* SCSS */
#sessions-dialog {
  .modal-lg {
    max-width: 800px; // Adjust the width as needed
  }

  #sessions-body {
    .row {
      margin-bottom: 10px;

      .col-md-6 {
        padding: 10px;

        h5 {
          margin-bottom: 5px;
        }
        p{
          padding: 0px
        }
      }
    }
  }
}
.review-card {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p {
    margin-right: 5px;
    font-size: 14px;
    margin-left: 5px;
  }

  .star {
    position: relative;
  }

  img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    // max-width: 100%;
    margin-bottom: 10px;
    object-fit: cover;
    filter: grayscale(85%);
    &:hover {
      filter: none;
    }
  }
}

.training-plan-category {
  // height: px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p {
    margin: 0;
    font-size: 14px;
  }

  .btn {
    margin-top: 10px;
    background-color: #E0464D;
    color: white;
    border-radius: 5%;
  }
}
