<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jumpn-app.com/assets/cycling.png);">
  <div class="container">
    <h1><strong>Connect. Train. Share.</strong></h1>
    <p>the best way to organise sports activities with your friends and share the joy of sports!</p>
    <div class="btn">
      <a class="btn btn-flat" href="#">Find a Trainer</a>
      <a class="btn btn-flat" href="#">Find a Club</a>
    </div>
  </div>
</div>
