<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jumpn-app.com/assets/cycling.png);">
  <div class="container1">
    <h1>Connect. Train. Share.</h1>
    <p>the best way to organise sports activities with your friends and share the joy of sports!</p>
  </div>
      <section class="container1">
        <%= link_to "/trainers", class:"text-decoration-none" do %>
          <button data-hover="Jump'n"><div>Find a Trainer</div></button>
        <% end %>
</div>
