<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://jumpn-app.com/assets/cycling.png);">
  <div class="container">
    <h1>Connect. Train. Share.</h1>
    <p>the best way to organise sports activities with your friends and share the joy of sports!</p>
      <%# <a class="btn btn-flat" href="#trainerlist">Find a Trainer</a> %>
      <%# <div class="btn from-top">From Top</div> %>
      <%# <div class="btn btn-flat" href="#trainerlist">Find a Trainer </div> %>
      <section class="container">
      <button data-hover="click me!" href="#trainerlist"><div>Find a Trainer</div></button>
  </div>
</div>
