<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://jumpn-app.com/assets/cycling.png);">
  <div class="container1 me-5">
    <h1 class="text-start">Connect. Train. Share.</h1>
    <p>the best way to organise sports activities with your friends and share the joy of sports!</p>
  </div>
      <section class="container1">
        <%= link_to "Find a trainer", trainers_path, class: "btn btn-primary banner-btn" %>
      </div>
  <%# <div>
    <i class="fa-duotone fa-chevron-down"></i>
  </div> %>
</div>
<%# <div class="row">
  <div class="col-4">
    <div class="info-card">
      <i class="fa-solid fa-eye"></i><h1>Our vision</h1>
      <p>It should be simple to find people with whom to do sport. But it’s not. So we created Jump’n, the go-to app to connect, organise, and share sports.</p>
    </div>
    <div class="info-card">
      <i class="fa-solid fa-handshake-angle"></i><h1>Something</h1>
      <p>hi</p>
    </div>
    <div class="info-card">
      <i class="fa-sharp fa-solid fa-medal"></i><h1>Yep</h1>
      <p>hi</p>
    </div>
  </div>
</div> %>
