
<div class ="container bookings-container pt-5">
  <h2> My bookings!! </h2>

  <% current_user.bookings.each do | booking | %>
    <%= render 'bookings/booking', booking: booking  %>
  <% end %>

</div>
