<h1>Trainers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Sports</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to trainer.user_id, trainer_path(trainer)%></td>
        <td><%= trainer.user.first_name %></td>
        <td><%= trainer.sports %></td>
        <td><%= trainer.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
