
<div class = container>
  <h1 class="newTrainerTitle">New Trainer</h1>

  <%= simple_form_for @trainer do |form| %>
    <div class="sportsField">
      <%= form.input :sports, as: :check_boxes, collection: ['Running', 'Cycling', 'Yoga', 'Gym', 'Tennis'] %>
    </div>
    <div class="descriptionField">
      <%= form.input :description %>
    </div>
    <div class="submitTrainer">
      <%= form.submit  "Become a Trainer" %>
    </div>
  <% end %>

</div>
